.screen-flappy-bird {
  background-color: #85a5f8;
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.window-flappy-bird {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10%;
  width: 100%;
  height: calc(100vh - 65px);
}

.floor-flappy-bird {
  background-color: #ff0000;
  background-image: url("../images/flappy_bird/Boden.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  grid-row: 2;
  grid-column: 1;
}

.bird-flappy-bird {
  position: absolute;
  width: 50px;
  height: 40px;
  transform-origin: center center;
  transform: rotate(0deg);
  display: inline-block;
  top: 188px;
  left: 960px;
  background-size: contain;
  background-repeat: no-repeat;

}

.menu-flappy-bird {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 250px;
  height: 200px;
  background-color: lightslategrey;
  border-radius: 20px;
  text-align: center;

  button{
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 15% auto;
    background-color: lightcyan;
    font-size: 23px;
  }
}

.score-flappy-bird {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  box-shadow: 1px 1px 4px black;
  left: 3%;
  background-color: #ff0000;
  
  p {
    text-align: center;
  }
}

.pipe-upper-flappy-bird {
  width: 50px;
  //background-color: #ff8400;
  background-repeat: no-repeat;
  background-image: url("../images/flappy_bird/Rohr1.png");
  background-size: 55px 700px;
  background-position-y: top;
  background-position-x: left;
  //border-bottom-left-radius: 8px;
  //border-bottom-right-radius: 8px;
  position: absolute;
}

.pipe-lower-flappy-bird {
  width: 50px;
  //background-color: #ff8400;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../images/flappy_bird/Rohr1.png");
  background-size: 55px 700px;
  background-position-y: top;
  background-position-x: left;
}
