.fractal_tree_screen {
  background-color: #e7e7e7;
  display: inline-grid;
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
  grid-template-columns: 5% 50% auto 5%;
  grid-template-rows: 6% 1fr 6%;

}
.fractal_tree_settings {
  justify-self: center;
  grid-row: 2;
  grid-column: 3;
  width: 60%;
}

.fractal_tree_canvas {
  height: 100%;
  width: 100%;
  grid-row: 2;
  grid-column: 2;
}

