.layout-tictactoe {
  border: 12px solid black;
  border-radius: 10px;
  width: 0.2 * 100vw;
  height: 0.2 * 100vw;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box-tictactoe {
  background: lightgray;
  border: 2px solid darkgray;
  font-size: 30px;
  font-weight: 800;
  cursor: crosshair;
  outline: none;
}

.tictactoe {
  width: 200px;
  margin: 20px auto;

  p{
    color: black;
    font-size: 22px;
    text-align: center;
  }

  button {
    background-color: lightgray;
    font-size: 18px;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }
}
