@import "./_variables";
@import "./_navigation";
@import "./_tictactoe";
@import "./_clicker";
@import "flappybird";
@import "fractaltree";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: #f8f9fa;
}

.app {
  height: 100vh;
  width: 100vw;
  position: fixed
}

#root {
  height: 100vh;
}
