.bird-flappy-bird {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: green;
  border-radius: 10px;
  position: absolute;
  top: 188px;
  left: 50%;
}

.screen-flappy-bird {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
}

.menu-flappy-bird {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  background-color: lightslategrey;
  border-radius: 20px;
  text-align: center;


  button{
    text-align: center;
    margin: 30px auto;
    background-color: lightcyan;
    font-size: 15px;
  }
}

.pipe-flappy-bird {
  width: 30px;
  height: 500px;
  background-color: red;
  border-radius: 8px;
}
