.bird-flappy-bird {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: green;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.screen-flappy-bird {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
}
